dark-gb{
  --ion-background-color: #08415C !important;
}
ion-toolbar{
  --background: #08415C;
}
.logoHeader {
  background: #08415C;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
    padding-bottom: 10px;
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-flow: wrap;
    h2{
      color: #08415C;
      width: 90%;
      text-align: center;
    }
  }
  .bttn{
    font-weight: bold;
    font-size: large;
    color: white;
    text-transform: none;
  }
  .reflection{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    ion-textarea{
      border: solid 1px #5ACAF9;
      --placeholder-color: #838383;
      height: 150px
    }
    ion-label{
      color: #5ACAF9;
      font-weight: bold;
      font-size:x-large;
    }
  }

  .domain{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: auto;
}
.choice{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  width: auto;
  flex-flow: wrap;
  h2{
    color: #5ACAF9;
    text-align: center;
    width: 50%;
  }
}

.buttonDetails{
    --background:#08415C;
    font-weight: bold;
    font-size: large;
    color: white;
    width: 250px;
    text-transform: none;
}
hr {
  border: none;
  height: 3px;
  width: 70%;
  /* Set the hr color */
  color: #5ACAF9; /* old IE */
  background-color: #5ACAF9; /* Modern Browsers */
}

.resources {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.icon {
  padding-right: 10px;
}