<ion-content class="dark-gb" [fullscreen]="true">
  <div class="logoLogin">
    <div class="center">
      <ion-img src="assets/sstemm-login.png" class="ion-align-self-end"></ion-img>
    </div>
  </div>
  <h3 style="color: white; text-align: center;">Choose your country/Izberite svojo državo/Elige tu país</h3>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="button" (click)="selectCountry('ireland')">
          <ion-img class="flag" src="assets/flag/ireland.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div class="button" (click)="selectCountry('slovenia')">
          <ion-img class="flag" src="assets/flag/slovenia.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div class="button" (click)="selectCountry('spain')">
          <ion-img class="flag" src="assets/flag/spain.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class="disclaimer"><strong>Disclaimer:</strong> Once a choice has been made, it cannot be reversed on this device.
    This may result in having connectivity issues with the SSTeMM solution. Please ensure you choose the correct
    country.</p>
  <p class="disclaimer"> <strong> Omejitev odgovornosti: </strong> Ko je izbira že sprejeta, je v tej napravi ni mogoče
    razveljaviti.
    To lahko povzroči težave s povezljivostjo z rešitvijo SSTeMM. Prepričajte se, da ste izbrali pravilno državo. </p>
  <p class="disclaimer"> <strong> Renuncia de responsabilidad: </strong> una vez que se ha hecho una elección, no se
    puede revertir en este dispositivo.
    Esto puede resultar en problemas de conectividad con la solución SSTeMM. Asegúrese de elegir el país correcto. </p>
</ion-content>