.dark-gb{
    --ion-background-color: #08415C !important;
}
.logoLogin{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag {
    padding: 10px;
}

.button {
    margin: 10px;
}

.disclaimer {
    padding-left: 5px; 
    padding-right: 5px; 
    text-align: center; 
    font-size: small; 
    color: white;
}