.record-content {
    border: 2px;
    border-style: solid;
    border-color: #5ACAF9;
    width: 90%;
    align-items: center;
    margin: 20px;
    height: 100px;
}
.add-button {
    width: 200px;
}