<ion-content class="dark-gb">
  <div class="logoLogin">
    <div class="center">
      <ion-img
        src="assets/sstemm-login.png"
        class="ion-align-self-end"
      ></ion-img>
    </div>
  </div>
  <div class="enterCode">
    <h1 class="fpcTitle">Submit Code</h1>
    <form [formGroup]="formGroupCode" (ngSubmit)="submitCode()">
    <div>
      <ion-input
        class="input"
        placeholder="Verification Code"
        formControlName="codeControl"
        type="number"
      ></ion-input>
      <span
        class="text-danger"
        *ngIf="(forgotPasswordFormCodeControl.codeControl.touched || submitted) && forgotPasswordFormCodeControl.codeControl.errors?.required"
      >
        Verification Code is required
      </span>
      <ion-input
        class="input"
        placeholder="Password"
        formControlName="passwordControl"
        type="password"
      ></ion-input>
      <span
        class="text-danger"
        *ngIf="(forgotPasswordFormCodeControl.passwordControl.touched || submitted) && forgotPasswordFormCodeControl.passwordControl.errors?.required"
      >
        Password is required
      </span>
      <span
        class="text-danger"
        *ngIf="forgotPasswordFormCodeControl.passwordControl.touched && forgotPasswordFormCodeControl.passwordControl.errors?.invalidPassword"
      >
        Password should have minimum 8 characters, at least 1 uppercase letter,
        1 lowercase letter and 1 number
      </span>
    </div>
    <div>
      <ion-input
        class="input"
        placeholder="Confirm Password"
        formControlName="passwordAgainControl"
        type="password"
      ></ion-input>
      <span
        class="text-danger"
        *ngIf="(forgotPasswordFormCodeControl.passwordAgainControl.touched || submitted) && forgotPasswordFormCodeControl.passwordAgainControl.errors?.required"
      >
        Confirm Password is required
      </span>
      <span
        class="text-danger"
        *ngIf="forgotPasswordFormCodeControl.passwordAgainControl.touched && forgotPasswordFormCodeControl.passwordAgainControl.errors?.passwordMismatch"
      >
        Passwords does not match
      </span>
    </div>
    <div class="fpButton">
      <ion-button class="buttonDetails" expand="block" type="submit"
        >Submit</ion-button>
    </div>
    <div class="fpButton">
      <ion-button class="buttonDetails" expand="block" (click)="cancel()"
        >Cancel</ion-button>
    </div>
  </form>
  </div>
</ion-content>