ion-toolbar{
    --background: #08415C;
  }
  .logoHeader {
    background: #08415C;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      text-align:center;
      padding-bottom: 10px;
    }