.dark-gb{
  --ion-background-color: #08415C !important;
}
ion-toolbar{
  padding: 1em;
  --background: #08415C;
}
.logoHeader {
    background: #08415C;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
  }
  .header{
    color:  #08415C;
    text-align: center;
  
  }
  .question{
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-flow: wrap;
    h3{
      color: #5ACAF9;
    }
    p{
      width: 100%;
      text-align: center;
      color: #5ACAF9;
    }
  }
  .bttn{
    font-weight: bold;
    font-size: large;
    color: white;
    text-transform: none;
}