<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/stress-signature" style="color: white;"></ion-back-button>
    </ion-buttons>
    <div class="logoHeader">
      <img src="assets/sstemm-header.png" width="150px" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="header">{{title}}</h1>
  <form #myForm="ngForm" class="questions" (ngSubmit)="save(myForm)" >
  <app-question *ngFor="let question of questions" (sliderValueChanged)="sliderValueChanged($event)"
    [question]="question.question" [rowId]="question.id" [value]="">
  </app-question>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" size="6" class="ion-text-center">
        <ion-button expand="block" class="ion-text-wrap min-max-width bttn" (click)="goBack()">{{ 'button.back' | translate }}</ion-button>
      </ion-col>

      <ion-col size-sm="6" size="6" class="ion-text-center">
        <ion-button expand="block" class="ion-text-wrap min-max-width bttn" type="submit">{{ 'button.save' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>