.dark-gb{
  --ion-background-color: #08415C !important;
}
ion-toolbar{
  --background: #08415C;
}
.logoHeader {
    background: #08415C;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
    padding-bottom: 10px;
  }
  .header{
    color:  #08415C;
    text-align: center;
  
  }
  .bttn{
    font-weight: bold;
    font-size: large;
    color: white;
    text-transform: none;
}

.icon {
  padding-right: 5px;
}