<ion-content class="dark-gb">
  <div class="logoLogin">
    <div class="center">
      <ion-img
        src="assets/sstemm-login.png"
        class="ion-align-self-end"
      ></ion-img>
    </div>
  </div>
  <div class="submitEmail">
  <h1 class="fpTitle">{{ 'forgot.title' | translate }}</h1>
    <form [formGroup]="formGroupEmail" (ngSubmit)="submit()">
    <ion-input
      class="input"
      formControlName="emailControl"
      required="true"
      type="email"
      placeholder="{{ 'input.email' | translate }}"
    >
    </ion-input>
    <span
      class="text-danger"
      *ngIf="(forgotPasswordFormEmailControl.emailControl.touched || submitted) && forgotPasswordFormEmailControl.emailControl.errors?.required"
    >
    {{ 'validation.emailRequired' | translate }}
    </span>
    <span
      class="text-danger"
      *ngIf="forgotPasswordFormEmailControl.emailControl.touched && forgotPasswordFormEmailControl.emailControl.errors?.email"
    >
    {{ 'validation.emailValid' | translate }}
    </span>
    <div class="fpButton">
      <ion-button class="buttonDetails" expand="block" type="submit"
        >{{ 'button.submit' | translate }}</ion-button>
    </div>
    <div class="fpButton">
      <ion-button class="buttonDetails" expand="block" (click)="giveCode()"
        >{{ 'button.already' | translate }}</ion-button>
    </div>
    <div class="fpButton">
      <ion-button class="buttonDetails" expand="block" (click)="cancel()"
        >{{ 'button.cancel' | translate }}</ion-button>
    </div>
    </form>
  </div>
</ion-content>