<ion-content class="dark-gb">
  <div class="logoLogin">
    <div class="center">
      <ion-img
        src="assets/sstemm-login.png"
        class="ion-align-self-end"
      ></ion-img>
    </div>
  </div>
  <div class="submitEmail">
  <h1 class="fpTitle">Forgot Password</h1>
    <form [formGroup]="formGroupEmail" (ngSubmit)="submit()">
    <ion-input
      class="input"
      formControlName="emailControl"
      required="true"
      type="email"
      placeholder="Email address"
    >
    </ion-input>
    <span
      class="text-danger"
      *ngIf="(forgotPasswordFormEmailControl.emailControl.touched || submitted) && forgotPasswordFormEmailControl.emailControl.errors?.required"
    >
      Email address is required
    </span>
    <span
      class="text-danger"
      *ngIf="forgotPasswordFormEmailControl.emailControl.touched && forgotPasswordFormEmailControl.emailControl.errors?.email"
    >
      Enter a valid email address
    </span>
    <div class="fpButton">
      <ion-button class="buttonDetails" expand="block" type="submit"
        >Submit</ion-button>
    </div>
    <div class="fpButton">
      <ion-button class="buttonDetails" expand="block" (click)="giveCode()"
        >Already Have Code</ion-button>
    </div>
    <div class="fpButton">
      <ion-button class="buttonDetails" expand="block" (click)="cancel()"
        >Cancel</ion-button>
    </div>
    </form>
  </div>
</ion-content>