<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="logoHeader">
      <img src="assets/sstemm-header.png" width="150px" />
    </div>
    <ion-buttons class="signout-button"  slot="secondary">
      <ion-button (click)="logout()">
        <ion-icon class="logout" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="header">{{ 'home.title' | translate }}</h1>
  <ion-card>
    <ion-card-header>
      Line Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas style="position: relative; height:15vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>
  <h3 class="noentries" *ngIf="api.displayNoEntries">{{ 'home.none' | translate }}</h3>
  <div class=records>
  <app-record *ngFor="let entry of api.homeSignatures" overallScore={{entry.totalScore}} timestamp={{entry.timeStamp}}
  [domain]="entry.domain" (click)="openModal(entry)">
  </app-record>
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button class="add-button" (click)="resources()">
    <ion-icon name="newspaper"></ion-icon>
    <ion-text >{{ 'button.resources' | translate }}</ion-text>
    </ion-fab-button> 
    </ion-fab>
</ion-content>
