<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="logoHeader">
      <img src="assets/sstemm-header.png" width="150px" />
    </div>
    <ion-buttons class="signout-button"  slot="secondary">
      <ion-button (click)="logout()">
        <ion-icon class="logout" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="header">{{ 'home.title' | translate }}</h1>
  <h3 class="noentries" *ngIf="displayNoEntries">{{ 'home.none' | translate }}</h3>
  <div class=records>
  <app-record *ngFor="let entry of signatures" overallScore={{entry.totalScore}} timestamp={{entry.timeStamp}}
  [domain]="entry.domain">
  </app-record>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  class="add-button" (click)="add()">
    <ion-icon name="pencil-outline"></ion-icon>
    <ion-text >Create</ion-text>
    </ion-fab-button> 
    </ion-fab>
</ion-content>
