<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="logoHeader">
      <img src="assets/sstemm-header.png" width="250px" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="header">Dashboard</h1>
  <h1 class="header">Most Recent Entries</h1>
  <app-record overallScore=85 title="This is the title"
  description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut ">
  </app-record>
  <app-record overallScore=85 title="This is another title"
  description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut ">
  </app-record>
  <app-record overallScore=85 title="This is the title"
  description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut ">
  </app-record>
  <app-record overallScore=85 title="This is another title"
  description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut ">
  </app-record>
  <app-record overallScore=85 title="This is the title"
  description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut ">
  </app-record>
</ion-content>
