<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close" style="color: white;"></ion-icon>
        <ion-label style="color: white;">{{ 'details.close' | translate }}</ion-label>
      </ion-button>
    </ion-buttons>
    <div class="logoHeader">
      <img src="assets/sstemm-header.png" width="150px" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="header">{{ 'details.title' | translate }}</h1>
  <div class="maincontent">
    <div class="date">
      <h3 class="icon" ><ion-icon class="icon" name="calendar-outline"></ion-icon> {{timestamp | date: 'dd/MM/yyyy'}}</h3>
      <h3 class="icon" ><ion-icon class="icon" name="time-outline"></ion-icon>{{timestamp | date: 'HH:mm'}}</h3>
    </div>
    <div class="circle">
      <div class="aligner">
        <p>{{overallScore}}</p>
      </div>
    </div>
  </div>
  <h2 class="domainheader">{{ 'details.domains' | translate }}</h2>
  <div class="domain" >
    <div class="scores" *ngFor="let domain of domain; let ind = index">
          <p class="domaintitle">{{domain.domain}}</p>
          <p class="domainscore">{{domain.totalScore}}</p>
        </div>
  </div>
  <h2 class="domainheader">{{ 'details.reflection' | translate }}</h2>
  <div class="reflection">
    <p>{{reflection}}</p>
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button class="add-button" (click)="resources()">
    <ion-icon name="newspaper"></ion-icon>
    <ion-text >{{ 'button.resources' | translate }}</ion-text>
    </ion-fab-button> 
    </ion-fab>
</ion-content>
